body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.container-input {
    position: relative;
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.mensagem-erro {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 12px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.btn-azul {
    background-color: #3498db;
    color: #fff;
}

.btn-verde {
    background-color: #2ecc71;
    color: #fff;
}
